

import(nleqslv)
import(ggplot2)
import(foreach)
import(iterators)
import(parallel)
import(doParallel)
import(datasets)
import(graphics)
import(grDevices)
import(methods)
import(stats)
import(utils)

export(check,
       compmerge.list,
       design.MSPRT,
       effective.N,
       error.summary,
       find.alt,
       find.samplesize,
       find.threshold.oneProp,
       implement.MSPRT,
       LR.oneProp,
       LR.oneT,
       LR.oneZ,
       LR.twoT,
       LR.twoZ,
       objfunc.oneProp,
       OC.MSPRT,
       overshoot.oneProp,
       overshoot.oneT,
       overshoot.oneZ,
       overshoot.twoT,
       overshoot.twoZ,
       ovr.repl.oneProp,
       ovr.repl.oneT,
       ovr.repl.oneZ,
       ovr.repl.twoT,
       ovr.repl.twoZ,
       point.umpbt.oneProp,
       type2.error.oneProp,
       type2.error.oneT,
       type2.error.oneZ,
       type2.error.twoT,
       type2.error.twoZ,
       ump.match.oneProp,
       umpbt.oneProp,
       umpbt.oneT,
       umpbt.oneZ,
       umpbt.twoT,
       umpbt.twoZ)