
import("ggplot2", "ggpubr", "doParallel", "nleqslv", "foreach")

export("design.MSPRT", "design.MSPRT_oneProp", "design.MSPRT_oneT",
       "design.MSPRT_oneZ", "design.MSPRT_twoT", "design.MSPRT_twoZ",
       "effectiveN.oneProp", "fixed_design.alt", "implement.MSPRT",
       "implement.MSPRT_oneProp", "implement.MSPRT_oneT",
       "implement.MSPRT_oneZ", "implement.MSPRT_twoT",
       "implement.MSPRT_twoZ", "Nstar", "OCandASN.MSPRT",
       "OCandASN.MSPRT_oneProp", "OCandASN.MSPRT_oneT",
       "OCandASN.MSPRT_oneZ", "OCandASN.MSPRT_twoT",
       "OCandASN.MSPRT_twoZ", "Type2.fixed_design", "UMPBT.alt")

importFrom("stats", "dbinom", "optimize", "pbinom", "pnorm", "pt",
           "qbinom", "qnorm", "qt", "rbinom", "rnorm", "sd", "sigma",
           "uniroot", "var")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("foreach", "foreach", "%dopar%")
importFrom("parallel", "detectCores")